RewriteEngine On

RewriteCond %{REQUEST_FILENAME}% !-d
RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-l


RewriteRule login$ index.php?controller=user&method=login
RewriteRule register$ index.php?controller=user&method=register
RewriteRule home$ index.php?controller=home&method=index

RewriteRule ^([a-z]+)/([a-z]+)$ index.php?controller=$1&method=$2
RewriteRule ^([a-z]+)/([a-z]+)/([0-9]+)$ ?controller=$1&method=$2&id=$3